@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* shared style start*/
.heading-color{
    color: #E95A08;
}
.inter{
    font-family: "Inter", sans-serif;
}
.noto-serif{
  font-family: "Noto Serif", serif;
}
.flex{
    display: flex;
}
.text-light-gray{
    color: #8987A1;
}

/* shared style end*/

/* nav-bar start  */

header{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 6.5rem;
}
.nav{
    justify-content: space-between;
    margin: 30px 0 120px 0;
    align-items: center;
}
.nav-unorder-list{
    gap: 30px;
}
.nav-unorder-list li{
    list-style: none;
}
.nav-unorder-list li a{
    text-decoration: none;

}

/* nav-bar end  */

/* banner start  */
.banner{
    align-items: end;
}
.banner h1{
    font-weight: bold;
    font-size: 4rem;
}
.banner-img img{
    width: 100%;
}

/* our-plant start  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.out-plant{
    margin-bottom: 8rem;
}

.our-plant-text{
    text-align: center;
    margin-bottom: 25px;
}
.our-plant-text p{
    font-size:1.25rem ;
    margin: 5px 4rem;
    /* border: 2px solid black; */
}
.our-plant-text h3{
    font-weight: bold;
    font-size: 3rem;
}
.our-plant-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:1.25rem ;
    text-align: center;

}
.our-plant-cards img{
    width: 100%;
}
.our-plant-card > div{
    width: 100;
}
.our-plant-cards img{
   margin-bottom: 20px;
}
.our-plant-cards h5,.our-plant-cards h4{
    margin-bottom: 16px;
}
.our-plant-cards h4{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}
.our-plant-btn{
    width: 100%;
    height: 3rem;
    background-color:#E95A08;
    color: white;
    border: none;
    
    
}
/* plant-lover start  */
.plant-lover{
    gap: 2.5rem;
}
.plant-lover-text h2{
    font-weight: bold;
    font-size: 3.5rem;
}
.plant-lover-text li{
    font-size: 1.8rem;
    margin: 20px 0;
    margin-left: 1.5rem;
}
.flower-store {
    position: relative;
}
.trusted-badge {
    height: 286px;
    width: 286px;
    position:absolute;
    top: -130px; ;
    right: -80px;
}
.man{
    width: 100%;
}
/* latest-deals-section  */
.latest-deals{
    margin-bottom: 30px;
}
.latest-deals-text{
    text-align: center;
    margin: 80px auto;
}
.latest-deals-text h3{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 20px;
}
.latest-deals-text p{
    font-size: 1.25rem;
}
.latest-deals-box{
    display: flex;
    text-align: center;
    
    
}
.box-1{
    width: 23rem;
    height: 12.5rem;
    background-color: #000000;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-image: url("../assets/deal-bloom.png");
    background-size: cover;
    align-content: center;
    color: #ffffff;
    font-size: 2rem;
    filter: brightness(80%);
    
}
.box-2{
      width: 23rem;
    height: 12.5rem;
    background-color: #010101;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-image: url("../assets/deal-ana.png");
    background-size: cover;
    align-content: center;
    color: #ffffff;
    font-size: 2rem;
    filter: brightness(80%);
}
.box-3{
    height: 100%;
    width: 47.5rem;
    background-color: #0e0e0e;
    border-radius: 20px;
    background-image: url("../assets/deal-zabo.png");
    background-size: cover;
    color: #ffffff;
    align-content: center;
    font-size: 2.5rem;
    filter: brightness(80%);
}
small{
    text-decoration: underline;
}


/* join section  */
.join{
    max-width: 100%;
    background-color: #26e908;
    background-image: url("../assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    height: 530px;
    text-align: center;
    align-content: center;
}
.join h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.join input{
    width: 40rem;
    padding: 10px 20px;
}
.join button{
    width: 11.5rem;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #E95A08;
    border: none;
    
}
.ending-section{
    height: 348px;
    justify-content:space-between;
    max-width: 1140px;
    margin: 50 auto;
}
.ending-section p{
    width: 300px;
    margin-top: 20px;
    font-size: 1.25rem;
}

.unorder-list-1 li,.unorder-list-2 li{
    list-style: none;
    margin-bottom: 50px;
}
.unorder-list-1 li a,.unorder-list-2 li a{
    text-decoration: none;
}
.social-meadia img{
    margin-right: 25px;
}


/* last time added  */
.fa-cart-shopping{
    height: 100%;
}
.nav-logo img{
    width: 100%;
}
 .footer-logo-section p{
    width: 100%;
 }



@media screen and (max-width:576px) {
/* header start  */
    header{
        margin-bottom: 2rem;
    }
    .nav a{
        display:none;
    }
    .nav i{
        font-size: 2rem;
    }
    .nav{
        margin: 10px 10px;
    }
    .banner{
        flex-direction:column-reverse;

    }
    .banner h1{
        font-size: 2.5rem;
    }
    .banner-content{
        margin: 16px 16px 65px 16px;
    }
 /* header end  */
 /* .our-plant start  */
    
 .our-plant-cards{
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    padding: 7px;
 }
 .our-plant-text p{
    margin: 1.25rem;
 }
 /* plant lover  */

    .plant-lover{
        flex-direction: column;
        margin-left: 7px;
    }
    .trusted-badge{
        display: none;
    }
    .our-plant-text p{
        margin: 25px;
    }
    .join input{
        width: 60%;
    }
    .join button{
        width: 20%;
        font-size: 0.7rem;
        padding: 12px 10px;
        
    }
    .join{
        background-size: cover;
    }
/* ending-section */
     .ending-section{
        flex-direction: column;
        margin: 50px 20px 50px 20px;
     }
     .social-meadia img{
        margin-bottom: 70px;
     }

     /* resolving */
    
    .banner-img{
    width: 100%;
    }
    
    /* latest deals  */
    .latest-deals-box{
        flex-direction: column;
        padding: 10px;
        
    }
    .box-1,.box-2,.box-3{
        width: 100%;
        height: 12.5rem;
        /* margin: 10px; */

    }
}



@media screen and (min-width:576px) and (max-width:1200px) {
    .latest-deals-box{
        flex-direction: column;
        padding: 10px;     
    }
    .box-1,.box-2,.box-3{
        width: 100%;
        height: 18.5rem;
    }
}